@import url("http://fonts.googleapis.com/css?family=montserrat:500");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #24252a;
}

li,
a,
button {
  font-family: "montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #ffffff;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
}
.logo {
  font-weight: bold;
  cursor: pointer;
  margin-right: auto;
  margin-left: 0;
}

.logo h1 {
  line-height: 90px;
  padding-left: 40px;
}

.navlinks {
  list-style: none;
}

.navlinks li {
  display: inline-block;
}

.navlinks li a {
  transition: all 0.3s ease 0s;
}

.navlinks li a:hover {
  color: aqua;
}

button {
  padding: 9px 25px;
  background-color: rgba(0, 136, 169, 1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3 ease 0s;
}

button:hover {
  background-color: rgba(0, 136, 169, 0.8);
}

.s {
  font-weight: bold;
  padding: 30px;
}

.cta {
  padding: -50;
}
