* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  width: 100%;
  height: 100vh;
  background: #00ddff;
  background: linear-gradient(57deg, #9e0000, #000000);
  clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 0% 100%);
}

.padding {
  padding: 5rem !important;
}

button {
  font-family: "montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #ffffff;
  text-decoration: none;
}
